A small number of customers generate a large share of the company’s total profit.

Assumption

Gross profit is used as a proxy for customer value.

Columns used

Customer ID

Gross Profit

Sales (optional)

Derived metrics

Total Gross Profit per Customer: sum of gross profit by customer

Profit Contribution (%): customer profit ÷ total company profit

Analysis steps

Aggregate profit per customer and rank customers from highest to lowest

Calculate each customer’s share of total profit

Compute cumulative profit contribution to see how quickly profit concentrates

Identify the “top X% of customers” who drive “Y% of total profit”

Business impact
This pattern suggests profit is concentrated in a small group of high-value customers. The company should prioritize retention, service quality, and loyalty programs for these customers, while using more cost-efficient approaches for lower-profit segments.

In [ ]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Kelvin\Downloads\wonka_choc_factory (1).csv")
print(df.head())

   Unnamed: 0  Order Date   Ship Date       Ship Mode  Customer ID  \
0           0  2021-03-31  2026-09-26  Standard Class       128055
1           1  2021-03-31  2026-09-26  Standard Class       128055
2           2  2021-09-15  2027-03-13  Standard Class       138100
3           3  2021-09-15  2027-03-13  Standard Class       138100
4           4  2022-10-04  2028-03-29     First Class       121391

  Country/Region           City State/Province Postal Code   Division  \
0  United States  San Francisco     California       94122  Chocolate
1  United States  San Francisco     California       94122  Chocolate
2  United States  New York City       New York       10011  Chocolate
3  United States  New York City       New York       10011  Chocolate
4  United States  San Francisco     California       94109  Chocolate

     Region                       Product Name  Sales  Units  Gross Profit  \
0   Pacific  Wonka Bar - Triple Dazzle Caramel   7.50      2          4.90
1   Pacific     Wonka Bar -Scrumdiddlyumptious   7.20      2          5.00
2  Atlantic          Wonka Bar - Fudge Mallows   7.20      2          4.80
3  Atlantic         Wonka Bar - Milk Chocolate   9.75      3          6.33
4   Pacific         Wonka Bar - Milk Chocolate   6.50      2          4.22

   Cost          Factory   Latitude   Longitude
0  2.60  Wicked Choccy's  32.076176  -81.088371
1  2.20    Lot's O' Nuts  32.881893 -111.768036
2  2.40    Lot's O' Nuts  32.881893 -111.768036
3  3.42  Wicked Choccy's  32.076176  -81.088371
4  2.28  Wicked Choccy's  32.076176  -81.088371

In [7]:
print(df.columns.tolist())

['Unnamed: 0', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Country/Region', 'City', 'State/Province', 'Postal Code', 'Division', 'Region', 'Product Name', 'Sales', 'Units', 'Gross Profit', 'Cost', 'Factory', 'Latitude', 'Longitude']

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.columns.tolist())

['unnamed:_0', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'country/region', 'city', 'state/province', 'postal_code', 'division', 'region', 'product_name', 'sales', 'units', 'gross_profit', 'cost', 'factory', 'latitude', 'longitude']

In [11]:
import pandas as pd

df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace("/", "_", regex=False)
              .str.replace(" ", "_", regex=False))

cust = (df.groupby("customer_id", as_index=False)
          .agg(total_gross_profit=("gross_profit", "sum"),
               total_sales=("sales", "sum")))

cust = cust.sort_values("total_gross_profit", ascending=False)

total_profit = cust["total_gross_profit"].sum()
cust["profit_contribution_pct"] = cust["total_gross_profit"] / total_profit
cust["cumulative_profit_pct"]   = cust["profit_contribution_pct"].cumsum()

cust["profit_rank"]             = range(1, len(cust) + 1)
cust["customer_count"]          = len(cust)
cust["cumulative_customer_pct"] = cust["profit_rank"] / cust["customer_count"]

print(cust.head(20))

      customer_id  total_gross_profit  total_sales  profit_contribution_pct  \
2326       131807              256.60       454.40                 0.002746
1124       115238              249.30       380.50                 0.002668
1637       122336              193.44       352.20                 0.002070
4690       164756              166.42       304.14                 0.001781
2887       139675              134.40       202.00                 0.001438
3748       151799              132.52       197.60                 0.001418
1770       124163              127.95       247.35                 0.001369
9          100111              125.93       182.41                 0.001348
4692       164770              122.50       232.40                 0.001311
1429       119508              122.34       177.14                 0.001309
2146       129322              120.05       180.75                 0.001285
1859       125388              115.00       216.00                 0.001231
4615       163790              113.53       208.95                 0.001215
1280       117457              112.42       167.94                 0.001203
441        105732              112.33       167.75                 0.001202
494        106439              109.86       162.14                 0.001176
4581       163328              109.01       197.61                 0.001167
4644       164147              107.25       204.65                 0.001148
900        112109              107.06       164.50                 0.001146
2939       140326              104.85       202.05                 0.001122

      cumulative_profit_pct  profit_rank  customer_count  \
2326               0.002746            1            5044
1124               0.005414            2            5044
1637               0.007484            3            5044
4690               0.009265            4            5044
2887               0.010703            5            5044
3748               0.012122            6            5044
1770               0.013491            7            5044
9                  0.014839            8            5044
4692               0.016150            9            5044
1429               0.017459           10            5044
2146               0.018744           11            5044
1859               0.019974           12            5044
4615               0.021189           13            5044
1280               0.022392           14            5044
441                0.023594           15            5044
494                0.024770           16            5044
4581               0.025937           17            5044
4644               0.027084           18            5044
900                0.028230           19            5044
2939               0.029352           20            5044

      cumulative_customer_pct
2326                 0.000198
1124                 0.000397
1637                 0.000595
4690                 0.000793
2887                 0.000991
3748                 0.001190
1770                 0.001388
9                    0.001586
4692                 0.001784
1429                 0.001983
2146                 0.002181
1859                 0.002379
4615                 0.002577
1280                 0.002776
441                  0.002974
494                  0.003172
4581                 0.003370
4644                 0.003569
900                  0.003767
2939                 0.003965

In [9]:
cust = (df.groupby("customer_id", as_index=False)
          .agg(total_gross_profit=("gross_profit","sum"),
               total_sales=("sales","sum")))

cust = cust.sort_values("total_gross_profit", ascending=False)

total_profit = cust["total_gross_profit"].sum()
cust["profit_contribution_pct"] = cust["total_gross_profit"] / total_profit
cust["cumulative_profit_pct"]   = cust["profit_contribution_pct"].cumsum()
cust["profit_rank"]             = range(1, len(cust)+1)
cust["customer_count"]          = len(cust)
cust["cumulative_customer_pct"] = cust["profit_rank"] / cust["customer_count"]

cust.head(20)

,customer_id,total_gross_profit,total_sales,profit_contribution_pct,cumulative_profit_pct,profit_rank,customer_count,cumulative_customer_pct
2326,131807,256.60,454.40,0.002746,0.002746,1,5044,0.000198
1124,115238,249.30,380.50,0.002668,0.005414,2,5044,0.000397
1637,122336,193.44,352.20,0.002070,0.007484,3,5044,0.000595
4690,164756,166.42,304.14,0.001781,0.009265,4,5044,0.000793
2887,139675,134.40,202.00,0.001438,0.010703,5,5044,0.000991
3748,151799,132.52,197.60,0.001418,0.012122,6,5044,0.001190
1770,124163,127.95,247.35,0.001369,0.013491,7,5044,0.001388
9,100111,125.93,182.41,0.001348,0.014839,8,5044,0.001586
4692,164770,122.50,232.40,0.001311,0.016150,9,5044,0.001784
1429,119508,122.34,177.14,0.001309,0.017459,10,5044,0.001983
2146,129322,120.05,180.75,0.001285,0.018744,11,5044,0.002181
1859,125388,115.00,216.00,0.001231,0.019974,12,5044,0.002379
4615,163790,113.53,208.95,0.001215,0.021189,13,5044,0.002577
1280,117457,112.42,167.94,0.001203,0.022392,14,5044,0.002776
441,105732,112.33,167.75,0.001202,0.023594,15,5044,0.002974
494,106439,109.86,162.14,0.001176,0.024770,16,5044,0.003172
4581,163328,109.01,197.61,0.001167,0.025937,17,5044,0.003370
4644,164147,107.25,204.65,0.001148,0.027084,18,5044,0.003569
900,112109,107.06,164.50,0.001146,0.028230,19,5044,0.003767
2939,140326,104.85,202.05,0.001122,0.029352,20,5044,0.003965

In [12]:
top20_profit_share = cust.loc[cust["cumulative_customer_pct"] <= 0.20, "total_gross_profit"].sum() / total_profit
print("Profit share from top 20% customers:", top20_profit_share)

Profit share from top 20% customers: 0.48333547368015506

In [14]:
pct_customers_for_80 = cust.loc[cust["cumulative_profit_pct"] >= 0.80, "cumulative_customer_pct"].iloc[0]
print("Customer % needed for 80% of profit:", pct_customers_for_80)

Customer % needed for 80% of profit: 0.5029738302934179

In [10]:
WITH customer_profit AS (
  SELECT
    customer_id,
    SUM(gross_profit) AS total_gross_profit,
    SUM(sales) AS total_sales
  FROM your_table
  GROUP BY customer_id
),
ranked AS (
  SELECT
    customer_id,
    total_gross_profit,
    total_sales,
    total_gross_profit / SUM(total_gross_profit) OVER () AS profit_contribution_pct,
    ROW_NUMBER() OVER (ORDER BY total_gross_profit DESC) AS profit_rank,
    COUNT(*) OVER () AS customer_count
  FROM customer_profit
),
cum AS (
  SELECT
    *,
    SUM(total_gross_profit) OVER (ORDER BY total_gross_profit DESC
      ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) / SUM(total_gross_profit) OVER () AS cumulative_profit_pct,
    profit_rank * 1.0 / customer_count AS cumulative_customer_pct
  FROM ranked
)
SELECT *
FROM cum
ORDER BY total_gross_profit DESC;

SyntaxError: invalid syntax (3033566421.py, line 1)

In [13]:
WITH cum AS ( ...same CTEs as above... )
SELECT
  SUM(total_gross_profit) / (SELECT SUM(total_gross_profit) FROM cum) AS profit_share_top_20pct
FROM cum
WHERE cumulative_customer_pct <= 0.20;

SyntaxError: invalid syntax (173379367.py, line 1)